# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# C extensions
*.so
venv
volume/logs/*

.idea/
test.py
geckodriver.log
containers/yandex_parser/geckodriver.log
containers/yandex_parser/errors.log
containers/yandex_parser/my_modules/logger.py